html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #F9F9FA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #363A56;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: Roboto,-apple-system,Helvetica Neue,Helvetica,Segoe UI,Arial,sans-serif;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}
